extends layout

block content

  h1 Search for Books

  form(action='/books/query')
    label(for='search') Search
    input.searchbar(type='text' placeholder=`${query}` name='search')

    p
      input(type='submit' value='Search' )
    a.button(href='/books/?page=0&search=') Clear Search

  h1 Books List

  p
    a.button(href='/books/new') Create New Book

  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        book
        tr
          td
            a(href='/books/'+ book.id)= book.title
          td= book.author
          td= book.genre
          td= book.year
        tr

  // Render pagination source: https://stackoverflow.com/questions/61838202/nodejs-pagination
  ul.pagination
    if current >= 1
      li.pagination
        a.pagination(href=`?page=${parseInt(current) - 1}&search=${query}`) Previous
    - let i = 1
    while i <= pages
      li.pagination
        a.pagination(href=`?page=${i-1}&search=${query}`)= i++
    if current < (pages-1)
      li.pagination
        a.pagination(href=`?page=${parseInt(current) + 1}&search=${query}`) Next
