extends layout

block content
  h1 Books
  p
    a.button(href='/books/new') Create New Book
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        book
        tr
          td
            a(href='/books/'+ book.id)= book.title
          td= book.author
          td= book.genre
          td= book.year
        tr

  ul.pagination
    if current >= 1
      li.pagination
        a.pagination(href=`?page=${parseInt(current) - 1}`) Previous
    - var i = 1
    while i <= pages
      li.pagination
        a.pagination(href=`?page=${i-1}`)= i++
    if current < (pages-1)
      li.pagination
        a.pagination(href=`?page=${parseInt(current) + 1}`) Next